%h2= @box.name

%p
  %h3 Contents
  %ul
    - @box.things.each do |thing|
      %li= thing.desc

%p
  -if !@box.qr_code.nil?
    =image_tag(@box.qr_code.url)

= link_to 'Edit', edit_box_path(@box)
\|
= link_to 'Back', boxes_path
